<div class="panel panel-default">
  <div class="panel-heading">Featured</div>
  <div class="panel-body">
    <div class="col-lg-6">
      No recent news
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Add Or Update An Entry!</div>
  <div class="panel-body">
    <h2>Word</h2>
    <input type="text" class="form-control" placeholder="Word" aria-describedby="basic-addon2" />
    <h2>Definition</h2>
    <div class="input-group">
      <div class="input-group-btn" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">Part of Speech <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a>Noun</a></li>
          <li><a>Pronoun</a></li>
          <li><a>Verb</a></li>
          <li><a>Adjective</a></li>
          <li><a>Adverb</a></li>
          <li><a>Participle</a></li>
          <li><a>Article</a></li>
          <li><a>Preposition</a></li>
        </ul>
      </div>
      <input type="text" class="form-control" placeholder="Definition" aria-describedby="basic-addon2" />
    </div>
    <h2>Example sentence</h2>
    <input type="text" class="form-control" placeholder="Example sentence" aria-describedby="basic-addon2">

    <button class="btn btn-primary" type="submit">Add Word!</span>


  </div>
</div>