<div class="panel panel-default">
  <div class="panel-heading">Search</div>
  <div class="panel-body">
    <div class="col-lg-6">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Word">
        </div>
        <button type="submit" class="btn btn-warning">Discover a word</button>
      </form>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Featured</div>
  <div class="panel-body">
    <div class="col-lg-6">
      No recent news
    </div>
  </div>
</div>
