<h1>{{vocab.word}}</h1>

<hr/>

<div class="panel panel-default">
  <div class="panel-heading">Definitions</div>
  <div class="panel-body">
    <ol>
      <li ng-repeat="meaning in vocab.definitions">
      <i>{{meaning.category}}.</i> {{meaning.text}}
      </li>
    </ol>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Example Sentences</div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="sentence in vocab.sentences">
      {{sentence}}
    </li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Interesting News
  </div>
  <div class="panel-body">
    <ul class="media-list">
      <li class="media" ng-repeat="item in vocab.aggregate">
      <div class="media-left">
        <img ng-visible="item.thumbnail" class="media-object" src="{{item.thumbnail}}">
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{{item.url}}" target="_blank">{{item.title}}</a>
        </h4>
        {{item.snippet}}
      </div>
      </li>
    </ul>
  </div>
</div>
